@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
    
}

.cursor{
height: 20px;
width: 20px;
border-radius: 50%;
position: fixed;
background-color: rgb(212, 84, 212);
z-index: 9;
transition: background-image ease 0.5s;
mix-blend-mode: difference;
}

.main{
    background-color: #0F0D0D;
    cursor: none;
}

.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}

#nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    z-index:102;
    mix-blend-mode: difference;
}

#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.3vw;
    font-weight: 500;
}

#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}

#nav-part2 h4:nth-child(1){
    border-bottom: 1.5px solid aliceblue;
}

#nav-part2 h4:nth-child(2){
    border-bottom: 1.5px solid aliceblue;
}

#nav-part2 h4:nth-child(3){
    border-bottom: 1.5px solid aliceblue;
}

#nav-part2 h4:nth-child(4){
    border-bottom: 1.5px solid aliceblue;
}

.page1 h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;

    margin-left: 6vw;
    transform-origin: left;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    transform-origin: left;
    margin-left: 26vw;
}

.page1 video{
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}

.page2{
    min-height: 50vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

.page2 h1{
    font-size:7vw;
    font-weight: 500;
    color: #0F0D0D;
    text-align: center;
}

.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page2-left{
    width: 30%;
}

.page2-right{
    width: 24%;
}

.page2-left h2{
    font-size: 3vw;
    font-weight: 300;
    color: #111;
    line-height: 1;
}

.page2-right p{
    font-size: 28px;
    color: #111;
   
}

.page2-right button{
    width: 20%;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
    background-color: #EDBFFF;
    color: #111;
    font-size: 1.5vw;
    position: absolute;
    right: 40%;
}

.page3{
    min-height: 220vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 100px;
}

.page3 h1{
    font-size: 7vw;
    color: #111;
    font-weight: 300;
    margin-left: 100px;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page3-part1 img {
    height: 600px;
    margin-top: 140px;
}

.page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page3-part2 img {
    height: 600px;
    width: 42%;
    margin-top: 140px;
}

.page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 170px 100px;
}

.elem{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}

.elem img:nth-child(1){
    left: 2%;
}

.elem img:nth-child(3){
    right: 5%;
}

.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}

.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}

.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
}

.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
.page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;

}

.footer{
    height: 90vh;
    width: 100%;
    background-color: #EDBFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h2{
    font-size: 3vw;
    color: #0F0D0D;
}
